@import './hamburgers/hamburgers';

$white: #fafafa;
$border-radius: 15px;
$accent_green: #008289;
$primary-100: #1c2b3d;
$box-shadow: 0px 3px 10px rgba(28, 43, 61, 0.2),
  0px 2px 5px rgba(28, 43, 61, 0.3);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $white;
}
// shared styles
img,
.map {
  max-width: 100%;
}
.heading {
  font-family: 'Kalam', cursive;
}
.paragraph,
input,
label {
  font-family: 'Prompt', sans-serif;
  font-size: 1.2rem;
}
.heading--xxl {
  font-size: 2.7rem;
}
.heading--l {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.container {
  width: min(100% - 1rem, 70rem);
  margin-inline: auto;
}
// nav bar
.logo {
  width: 162px;
  height: 28px;
  background-image: url('../assets/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-repeat: none;
  background-position: center;
}
.header {
  position: relative;
  padding: 0.5rem 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.nav__list {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}
.nav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      0deg,
      rgba(0, 130, 137, 0.5),
      rgba(0, 130, 137, 0.7)
    ),
    url('../assets/nav_background.jpg');
  background-size: cover;
  z-index: 1000;
  transform: scale(0, 1);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  &__link {
    position: relative;
    text-decoration: none;
    text-align: left;
    color: $white;
    font-family: 'Kalam', cursive;
    text-transform: capitalize;
    font-size: 1.5rem;
    width: min-content;
    &.active::before {
      content: '';
      width: 100%;
      height: 2px;
      background-color: $white;
      position: absolute;
      bottom: 5px;
      left: 0;
    }
  }
  &.open {
    transform: scale(1, 1);
  }
  .dropdown {
    display: none;
  }
}
// banner
.banner {
  position: relative;
  height: 50vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  .heading {
    text-transform: uppercase;
  }
  .paragraph {
    color: #fff;
  }
}

.banner__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner--paragraph,
.banner--heading {
  position: relative;
  margin-top: 5rem;
  z-index: 4;
  text-transform: uppercase;
  font-weight: 500;
}
.banner--heading {
  color: $white;
  font-size: 1.5rem;
}
.banner__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  text-align: center;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgba(28, 43, 61);
  mix-blend-mode: multiply;
}

section:not(.banner) {
  margin-top: 5rem;
}

.about__imgs {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 150px;
  gap: 1rem;
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: $border-radius;
    &:last-child {
      grid-column: 1 / -1;
    }
  }
}

// testimonials

.slider {
  position: relative;
  width: 100%;
  height: 285px;
  display: grid;
  grid-template-columns: 35px 1fr 35px;
  grid-template-rows: 50% 50%;
  background: linear-gradient(
      0deg,
      rgba(28, 43, 61, 0.5),
      rgba(28, 43, 61, 0.5)
    ),
    url('../assets/surfer-4234061_1920.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  border-radius: $border-radius;
  overflow: hidden;
  &__controls__prev,
  &__controls__next {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(28, 43, 61, 0.2);
  }
  &__controls__prev {
    grid-column: 1/2;
    grid-row: 1/-1;
  }
  &__controls__next {
    grid-column: 3/-1;
    grid-row: 1/-1;
  }
  &__text {
    grid-row: 1/-1;
    place-self: end;
    padding: 1rem;
    font-family: 'Prompt', sans-serif;
    text-align: center;
  }
  &__name {
    font-weight: 400;
  }
  &__controls__dots {
    margin-top: 1.25rem;
    display: flex;
    justify-content: center;
    .dot {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 1px solid $accent_green;
      margin-left: 1rem;

      &.active {
        background-color: $accent_green;
      }
    }
  }
}
// home page cards
.home__card,
.card {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  height: min(220px, 300px);
  // background-color: #008289;
  padding: 1rem;
  color: $white;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}
.card__link {
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  font-size: 1.1rem;
  font-family: 'Prompt', sans-serif;
  color: $white;
  background-color: $primary-100;
  border-radius: $border-radius;
  margin-top: 1rem;
  font-weight: 600;
  text-transform: capitalize;
}
.card--heading {
  font-size: 1.5rem;
  font-family: 'Kalam', cursive;
}
.longboard {
  background-image: linear-gradient(
      0deg,
      rgba(28, 43, 61, 0.4),
      rgba(28, 43, 61, 0.5)
    ),
    url('../assets/longboard.jpg');
  background-size: cover;
  background-position: bottom;
}
.shortboard {
  background-image: linear-gradient(
      0deg,
      rgba(28, 43, 61, 0.4),
      rgba(28, 43, 61, 0.5)
    ),
    url('../assets/shortboard.jpg');
  background-size: cover;
  background-position: bottom;
}
.wetsuits {
  background-image: linear-gradient(
      0deg,
      rgba(28, 43, 61, 0.5),
      rgba(28, 43, 61, 0.4)
    ),
    url('../assets/wetsuits.jpg');
  background-size: cover;
  background-position: bottom;
}
.lessons {
  background-image: linear-gradient(
      0deg,
      rgba(28, 43, 61, 0.5),
      rgba(28, 43, 61, 0.4)
    ),
    url('../assets/lessons.jpg');
  background-size: cover;
  background-position: bottom;
}
// faq

.faq {
  &__list {
    list-style-type: none;
    margin-bottom: 5rem;
  }
  &__btn {
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    font-family: 'Prompt', sans-serif;
    text-align: left;
    padding: 0.5rem 1rem 0.5rem 0;
    display: flex;
    align-items: center;
    font-weight: 600;
    i.active {
      transform: rotate(180deg);
    }
  }
  &--heading {
    text-transform: uppercase;
  }
}
.iframe__map {
  width: 100%;
  height: 260px;
  border-radius: $border-radius;
}
.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  label {
    display: block;
    margin-bottom: 4px;
    font-size: 1.1rem;
    text-transform: capitalize;
    font-weight: 600;
  }
  input {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    border-radius: 6px;
    border: 1px solid $primary-100;
  }
  &__group {
    margin: 0.75rem 0;
  }
  .contact__message {
    width: 100%;
    border-radius: 6px;
    border: 1px solid $primary-100;
  }
  .btn {
    background-color: #1c2b3d;
    color: $white;
    padding: 10px 0;
    border-radius: 10px;
    border: none;
  }
}

// footer

.footer {
  background: linear-gradient(
      0deg,
      rgba(0, 130, 137, 0.5),
      rgba(0, 130, 137, 0.7)
    ),
    url('../assets/nav_background.jpg');
  background-size: cover;
  padding: 1.5rem 0;
  color: $white;
  font-size: 1.5rem;
  font-family: 'Prompt', sans-serif;
  font-weight: 500;
  margin-top: 5rem;
  &__logo {
    width: 162px;
    height: 28px;
    background-image: url('../assets/footer-logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-repeat: none;
    background-position: center;
    margin-bottom: 2rem;
  }

  &__list {
    list-style-type: none;
    margin-bottom: 1.5rem;
  }
  &__item {
    margin-bottom: 8px;
  }
  &__link {
    color: $white;
    font-family: 'Kalam', cursive;
    font-size: 1.5rem;
    text-decoration: none;
  }
  .phone {
    display: flex;
    align-items: center;
    i {
      margin-right: 1rem;
    }
  }

  address {
    margin: 1.5rem 0;
  }
  .hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    &:focus {
      clip: auto;
      height: auto;
      overflow: auto;
      position: absolute;
      width: auto;
    }
  }

  .social {
    display: flex;
    align-items: center;
    &__icon {
      color: $white;
      font-size: 2rem;
      margin-right: 1rem;
      transition: color 0.3s ease-in-out;
    }
    &__link {
      text-decoration: none;
    }
  }
  .copyright {
    font-weight: 400;
    margin-top: 1rem;
  }
}
// pricing

.table {
  width: 100%;
  border-collapse: collapse;
  tr {
    border-bottom: 2px solid $white;
  }
  .time,
  .price {
    color: $white;
    padding: 1rem;
    width: 50%;
    font-family: 'Prompt', sans-serif;
    font-weight: 600;
  }
  .time {
    background-color: $accent_green;
  }
  .price {
    background-color: $primary_100;
  }
}

@media (min-width: 425px) {
  .container {
    padding: 0 1rem;
  }
}
@media (min-width: 768px) {
  .container {
    padding: 0 1.5rem;
  }
  .heading--xxl {
    font-size: 5rem;
  }
  .banner {
    height: 70vh;
  }
  .banner--paragraph,
  .banner--heading {
    margin-top: 8rem;
    font-size: 1.8rem;
  }
  .banner--heading {
    font-size: 2.5rem;
  }
  .about__imgs {
    grid-template-rows: 250px 250px;
  }
  .home__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .home__card {
    margin-top: 0;
  }
  .slider {
    height: 400px;
    &__text {
      max-width: 50ch;
      margin: 0 auto;
    }
  }

  .cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .card {
    margin-right: 1rem;
    &:nth-child(3) {
      margin-right: 0;
    }
  }
  .faq {
    &__btn {
      width: 100%;
    }
    i {
      margin-left: auto;
    }
  }
  .faq__paragraph {
    max-width: 50ch;
  }
  .iframe__map {
    height: 350px;
  }
}
@media (min-width: 1024px) {
  .header {
    position: relative;
    padding: 0.5rem 0;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .hamburger {
    display: none;
  }
  .logo {
    width: 200px;
    height: 60px;
  }
  .nav__list {
    all: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  .nav {
    all: unset;
    &__link {
      position: relative;
      text-decoration: none;
      text-align: left;
      color: $primary-100;
      font-family: 'Kalam', cursive;
      text-transform: capitalize;
      font-size: 1.5rem;
      width: min-content;
      margin-left: 3rem;
      &.active::before {
        content: '';
        width: 100%;
        height: 2px;
        background-color: $accent_green;
        position: absolute;
        bottom: 5px;
        left: 0;
      }
    }
    .dropdown {
      display: block;
    }
    .dropdown:hover + .dropdown__menu {
      transform: scale(1, 1);
    }

    .dropdown__menu {
      position: fixed;
      z-index: 10000;
      background-color: $white;
      padding: 1rem;
      transform: scale(1, 0);
      list-style: none;
      &:hover {
        transform: scale(1, 1);
      }
      .nav__link {
        margin-left: 0;
      }
    }
  }
  .about {
    display: flex;
    align-items: center;
    &__imgs {
      width: 50%;
    }
    &__text {
      width: 50%;
    }
  }
  .slider {
    height: 500px;
  }
  .faq__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .iframe__map {
    height: 600px;
    width: 40%;
  }
  .faq__paragraph {
    max-width: 35ch;
  }
  .faq i {
    margin-left: 1rem;
  }
  lottie-player {
    width: 50%;
  }
}
